<!--наследуемся от базового шаблона  -->
{% extends "base.html" %}

{% block title %}Главная
    <img src="/static/img/bg-fotor-bg-remover-2023120317441.png" alt="">
{% endblock %}

{% block main %}
    <div class="info_conteiner">
        <img src="/static/img/conteiner1.jpg" alt="">
        <p>
            Официальные дистребьютеры ORMCO СшА
        </p>
    </div>
    <div class="info_conteiner">
        <img src="/static/img/conteiner2.jpg" alt="">
        <p>
            Наши клиенты - Наша семья.
        </p>
    </div>
    <div class="info_conteiner">
        <img src="/static/img/conteiner3.jpg" alt="">
        <p>
            Действует гибкая система скидок
        </p>
    </div>
{% endblock %}