{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block main %}
    <h2>ООО "ВиланаС"</h2>
    <p>420100, РТ, г.Казань, ул.Большая Красная, д.1Б
        тел./факс(832)292-00-00
    </p>
    <form action="https://ormco.ru/" target="_blank">
        <button class="but">Официальный сайт ORMCO</button>
    </form>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.656464918997!2d49.10650448233745!3d55.79920292897703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead3e9c6643a3%3A0x4339333157b9126d!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0JrRgNCw0YHQvdCw0Y8sIDHQkSwg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCA0MjAxMTE!5e0!3m2!1sru!2sru!4v1701518460181!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}